*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    list-style-type: none;
    
}
h1{
    font-size: 50px;

}
footer{
    background:rgba(21,0,179,1);
    text-align: center;
}
header {
    background:rgba(21,0,179,1);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0px 30px 0px 30px;
}
.logo {
    height: 50%;
    cursor: pointer;
    display: flex;
    justify-content: start;
}


.navbar-list  {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;    
} 
 
.navmenu {
    display: flex;

}
    
.navbar-list a {
    color: rgb(67, 67, 216);
    font-size: 15px;

}
.navbar-list li:first-child >a {
    color: rgb(90, 90, 248);
    font-weight: 300;
}

.car {
    font-weight: 500;
    border-radius: 30px;
    height: 60px;
    padding: 5px 10px;
    cursor: pointer;

}
main {
    background: rgb(6,6,6);
    background: linear-gradient(90deg, rgb(17, 17, 17) 18%, rgba(21,0,179,1) 48%, rgba(49,104,115,1) 86%);    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: blanchedalmond;
    width: 100%;

}

#hero {
    margin-top: 20px;
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#info{
    text-align: center;
    
}
.info-cards-container{
    display: flex;
    justify-content: center;
    
}
.hero-info{
    display: flex;  
    flex-direction: column;
    gap: 20px;
    width: 50%;
    padding: 5px;
}
.hero-info h1 {
    background: linear-gradient(to top, #e935b3, #32b8da);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    }
.hero-info a {
    color: blue;
    background-color: blueviolet;
    width: 128px;
    padding: 8px 0px;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;

}

.hero-card {
    width: 300px;
    background: gray;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

}

.hero-card-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-card-top {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;    
}
.hero-card-top h3{
    font-weight: 600;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;

}
.hero-card-top span {
    background-color: brown;
    text-align: center;
    width: 50px;
    padding: 3px 0px;
    font-size: 14px;
    border-radius: 10px;

}

.hero-card-botton {
    display: flex;
    justify-content: center;  
    gap: 5px;


}

.hero-card-botton > img{
    width: 30%; 
    height: 30%; 
    margin-right: 2px; 
    border-radius: 5px;

}   

#about {
    gap: 10px;
    width: 500px; 
    padding-bottom: 50px;
     
    
}
.about-titulo{
    text-align: center;
    
}
.about-detalle{
    text-align: center;
    box-sizing: 600PX;
    margin: 20px;
}
.info-card {
    width: 300px;
    height: 300px;
}

.info-card >img {
    width: 50px;
    height: 50px;
}
.info-cards-container{
    display: flex;
    justify-content: center;
    gap: 50px;
}
#footer{
    display: flex;
    align-items: center;
    justify-content: center;

}
.contacto-foto {
    width: 200px;
    border-radius: 15%;
    padding: 10px;
    box-shadow: 5px 5px 5px;        
}
.contacto-info{
    display: flex;
    flex-direction: column;
}
.redes{
    display: flex;
}
.redes >img {
    width: 40px;
}

#menu-toggle,
#cart-toggle {
  display: none;
}